

.box {
    background:white;
    border-style: solid;
    border-color: black;
    border-width: 0.05px;
    display: inline-block;
    box-sizing: border-box;
}

#container {
    float: left;
    top: 100px;
    left: 100px;
    border-style: solid;
    border-color: black;
    width: 320px;
    height: 320px;
}